<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>

    <div>
      <h1>Homepage for Kirk Stennett's CS496 Cloud Project</h1>
    </div>

    <div>
      <h4>The Current Time is: <%= Time.new.inspect %><h4>
    </div>
    
    <div>
      <ul>
        <li>1 - I am using Heroku as my cloud provider</li>
        <li>2 - </li>
        <li>3 - </li>
        <li>4 - </li>
      </ul>
    </div>

  </body>
</html>
