<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>

    <div>
      <h1>Homepage for Kirk Stennett's CS496 Cloud Project</h1>
    </div>

    <div>
      <h4>The Current Time is: <%= Time.new.inspect %><h4>
    </div>
    
  </body>
</html>
